#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.star {
  color: gray;
}
.star.hovered {
  color: white;
}
.star.active {
  color: orange;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.phone {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(73, 73, 73);
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
}

.screen {
  width: 100%;
  background-color: rgb(55, 55, 55);
  min-height: 200px;
  border-radius: 12px;
  display: flex;
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Creates three equal-width columns */
  /* Optional: Add a gap between columns */
  grid-gap: 10px;
}

/* Sortable table */
.cell {
  border: 1px solid rgb(73, 73, 73);
  padding: 10px 16px;
  border-radius: 8px;
}
.header-cell {
  border: 1px solid rgb(73, 73, 73);
  background-color: rgb(73, 73, 73);
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Form Validation */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
